<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Directory Theme by Bootstrapious</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="/vendor/nouislider/nouislider.css">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- swiper-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <% if (section == 'create') { %>
        <link href="/editor/summernote.min.css" rel="stylesheet">
    <% } %>
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1//css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <header class="header mb-2">
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <a href="/<%= slug %>" class="navbar-brand py-1">
              <img src="https://www.tuderpa.com/wp-content/uploads/2020/04/cropped-Captura-de-Pantalla-2019-07-19-a-las-00.34.08-e1587349350320.png" alt="Directory logo" width="50">
            </a>
            <form action="#" id="search" class="form-inline d-none d-sm-flex">
              <div class="input-label-absolute input-label-absolute-left input-reset input-expand ml-lg-2 ml-xl-3"> 
                <label for="search_search" class="label-absolute"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
                <input id="search_search" placeholder="Search" aria-label="Search" class="form-control form-control-sm border-0 shadow-0 bg-gray-200">
                <button type="reset" class="btn btn-reset btn-sm"><i class="fa-times fas"></i></button>
              </div>
            </form>
          </div>
          <div class="navbar-toggler">
              <div class="row">
                  <div class="col-10">
                      <form action="#" id="searchcollapsed" class="form-inline mt-4 mb-2 d-sm-none">
                          <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                            <label for="searchcollapsed_search" class="label-absolute"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
                            <input id="searchcollapsed_search" placeholder="Search" aria-label="Search" class="form-control form-control-sm border-0 shadow-0 bg-gray-200">
                            <button type="reset" class="btn btn-reset btn-sm"><i class="fa-times fas"></i></button>
                          </div>
                      </form>
                  </div>
                  <div class="col-2">
                      <ul class="navbar-nav ml-auto">
                          <% if (typeof userId == 'undefined') { %>
                            <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                              <a href="user-add-0.html" class="btn btn-primary">Ingresar</a>
                            </li>
                          <% } else { %>
                            <li class="nav-item dropdown ml-lg-3"><a id="userDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="<%= avatar %>" alt="<%= name %>" class="avatar avatar-sm avatar-border-white mr-2"></a>
                              <div aria-labelledby="userDropdownMenuLink" class="dropdown-menu dropdown-menu-right" style="display: none; transform: translateY(30px);">
                                <a href="user-booking-1.html" class="dropdown-item">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt mr-2 text-muted"></i> Sign out</a>
                              </div>
                            </li>   
                          <% } %>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Navbar Collapse -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <form action="#" id="searchcollapsed" class="form-inline mt-4 mb-2 d-sm-none">
              <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                <label for="searchcollapsed_search" class="label-absolute"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
                <input id="searchcollapsed_search" placeholder="Search" aria-label="Search" class="form-control form-control-sm border-0 shadow-0 bg-gray-200">
                <button type="reset" class="btn btn-reset btn-sm"><i class="fa-times fas"></i></button>
              </div>
            </form>
            <ul class="navbar-nav ml-auto">
              <% if (typeof userId == 'undefined') { %>
                <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                  <a href="user-add-0.html" class="btn btn-primary">Ingresar</a>
                </li>
              <% } else { %>
                <li class="nav-item dropdown ml-lg-3"><a id="userDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="<%= avatar %>" alt="<%= name %>" class="avatar avatar-sm avatar-border-white mr-2"></a>
                  <div aria-labelledby="userDropdownMenuLink" class="dropdown-menu dropdown-menu-right" style="display: none; transform: translateY(30px);">
                    <a href="user-booking-1.html" class="dropdown-item">Mi Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt mr-2 text-muted"></i> Sign out</a>
                  </div>
                </li>   
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
      <!-- /Navbar -->
    </header>

    